.jimu-widget-DistanceAndDirection .jimu-state-active {
    background-color: #c0c0c0 !important;
}

.jimu-widget-DistanceAndDirection .jimu-tab3 .tab-item-td {
    padding-left: 0px;
    padding-right: 0px;
}

.jimu-widget-DistanceAndDirection .tabsContainer {
    border: 1px solid #838383;
}

.jimu-widget-DistanceAndDirection .selectInput {
    width: 119px;
}

.jimu-widget-DistanceAndDirection .coordInput {
    width: 225px;
    height: 32px;

}

.jimu-widget-DistanceAndDirection  .dijitTitlePaneContentOuter{
  background-color: transparent;
}

.jimu-widget-DistanceAndDirection .dijitTextBox .dijitInputInner {
  height: 20px;
  text-align: right;
}

.jimu-widget-DistanceAndDirection .tabPanel fieldset {
    border: 1px solid #CCC;
    padding: 6px;
    margin-top: 10px;
}

.jimu-widget-DistanceAndDirection .tabPanel fieldset > div {
    margin: 3px;
}

.jimu-widget-DistanceAndDirection .tabPanel fieldset > div > label {
    width: 50px;
    display: inline-block;
}

.jimu-widget-DistanceAndDirection .controls {
    display: table;
    margin: 0 auto;
}

.jimu-widget-DistanceAndDirection .buttonContainer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #CCC;
    padding-top: 20px;
}

.jimu-widget-DistanceAndDirection .controlItem {
    display: flex;
}

.jimu-widget-DistanceAndDirection .controlGroup {
    margin-top: 13px;
}

.jimu-widget-DistanceAndDirection .controlGroupHidden {
    display: none;
}

.jimu-widget-DistanceAndDirection .controlGroup .warning{
    color: #F00;
    font-weight: bold;
    width: 260px;
    display: inline-block;
}

.jimu-widget-DistanceAndDirection .controlGroup .controlGroupChild{
    margin-top: 6px;
}

.jimu-widget-DistanceAndDirection .controlGroup .splitRight {
    position: absolute;
    right: 25px;
}

.jimu-widget-DistanceAndDirection .controlGroup > label {
    width: 100px;
}

.jimu-widget-DistanceAndDirection .controlSpace {
    margin-left: 6px;
}

.jimu-widget-DistanceAndDirection  .noResize .dijitSelectLabel, .jimu-widget-DistanceAndDirection .noResize .dijitTextBox .dijitInputInner, .jimu-widget-DistanceAndDirection  .noResize.dijitValidationTextBox .dijitValidationContainer {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 58px;
    text-align: left;
}


.jimu-widget-DistanceAndDirection .addPointBtn {
    background: url(../images/draw_point.png) no-repeat;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;

}

.jimu-widget-DistanceAndDirection .label {
    font-size: 12px;
    margin: auto 5px;
    cursor: default;
}

.jimu-widget-DistanceAndDirection .add-with-icon {
    display: inline-block;
    height: 32px;
    line-height:37px;
    color: #838383;
}

.jimu-widget-DistanceAndDirection .add-with-icon .draw {
  display: inline-block;
  background: url(../images/draw_point.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.jimu-widget-DistanceAndDirection .add-with-icon .draw:hover {
    background-color: #c0c0c0;
}

.jimu-widget-DistanceAndDirection .add-with-icon .draw .hidden {
  display: none;
}

.jimu-widget-DistanceAndDirection .jimu-tab3 .tab-item-td.jimu-state-active {
    border-bottom: 0px solid #24B5CC;
    border-top: 2px solid #24B5CC;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: transparent !important;
}

.jimu-widget-DistanceAndDirection .controlItem .paddedLeft{
   padding-left: 14px;
}

.jimu-widget-DistanceAndDirection .disabledLabel {
    color: #c0c0c0 !important;
}

/****** Dart Theme Overrides ******/

.DartTheme .jimu-widget-DistanceAndDirection  .dijitSelectDisabled,
.DartTheme .jimu-widget-DistanceAndDirection .dijitTextBoxDisabled,
.DartTheme .jimu-widget-DistanceAndDirection .dijitTextBoxDisabled .dijitInputContainer ,
.DartTheme .jimu-widget-DistanceAndDirection .dijitTextBoxDisabled {
     background-color: #4c4c4c; 
}

.DartTheme .jimu-widget-DistanceAndDirection  .jimu-state-active {
    background-color: #3c2d2d !important;
}

.DartTheme .jimu-widget-DistanceAndDirection .dijitTitlePaneTitleOpen, .DartTheme .jimu-widget-DistanceAndDirection .dijitTitlePaneTitleFixedOpen {
    background-color: #272727;
}

.DartTheme .jimu-widget-DistanceAndDirection .dijitTitlePaneTitle {
    background-color: #272727;
    background-image: linear-gradient(rgb(103, 103, 103) 0%, rgba(255, 255, 255, 0) 100%);
}

.DartTheme .jimu-widget-DistanceAndDirection .controlGroup .warning {
    font-weight: normal;
}

.DartTheme .jimu-widget-DistanceAndDirection .jimu-tab3 .tab-item-td.jimu-state-active{
    font-weight: normal;
}

.DartTheme .jimu-widget-DistanceAndDirection .disabledLabel {
    color: #c0c0c0 !important;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipContainer {
    background-color: #4c4c4c;
    background-image: -webkit-linear-gradient(bottom, rgb(76, 76, 76) 0px, #4c4c4c 10px);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .jimu-widget-subtitle {
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipConnector {    
    background-image: url(images/tooltip.png);    
}


/**
 * Coordinate Format Dialog
 **/


.btnContainer {
    text-align: right;
    margin-top: 6px;
}

.settingsContainer {
    margin-top: 6px;
}

.controlContainer {
    margin-top: 6px;
}

.DartTheme .jimu-icon {
    background-image: url(images/sprite.png);
}

.DartTheme  .jimu-widget-cw .cpbtn {
    background: url(../images/copy.png);
}

.DartTheme  .add-with-icon .draw {
  background: url(../images/draw_point_dart.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.DartTheme .jimu-widget-DistanceAndDirection .add-with-icon .draw:hover {
    background-color: #000000;
}

.DartTheme .jimu-widget-DistanceAndDirection .disabledLabel {
    color: #7b7b7b !important;
}


.jimu-tab>.control>.tab.jimu-state-selected{
  border-bottom: 1px solid #ccc !important;
    border-right: 0px solid #fff !important;
    border-left: 0px solid #fff !important;
    border-top: 0px solid #fff !important;
    background-color: transparent !important;
    font-size: 12px;
}


