<div>
    <span class='jimu-widget-subtitle'>Set Coordinate Format String</span>
    <div class="controlContainer">
        <select tabindex=1 style="width:80px" name="test" data-dojo-type='dijit/form/Select' data-dojo-attach-point="frmtSelect">
            <option value="DD">DD</option>
            <option value="DDM">DDM</option>
            <option value="DMS">DMS</option>
            <option value="GARS">GARS</option>
            <option value="GEOREF">GEOREF</option>
            <option value="MGRS">MGRS</option>
            <option value="USNG">USNG</option>
            <option value="UTM">UTM</option>
            <option value="UTM (H)">UTM (H)</option>
        </select>

        <input tabindex=2 type ="text" data-dojo-attach-point="frmtVal" class="jimu-input"></input>

        <div class='settingsContainer' data-dojo-attach-point="prefixContainer">
            <div data-dojo-attach-point='addSignChkBox'  data-dojo-type='jimu/dijit/CheckBox'>Add "+/-" prefix to positive and negative numbers</div>
        </div>

    </div>
    <div class="btnContainer">
        <div tabindex=3 data-dojo-attach-point="cancelButton" class='jimu-btn'>Cancel</div>
        <div tabindex=4 data-dojo-attach-point="applyButton" class='jimu-btn'>Apply</div>
    </div>
</div>
