.distance-and-direction-setting .table-feedbacks{
	width: 100%;
	height: 197px;
  margin-top: 15px;
}

.distance-and-direction-setting .table-labels{
	width: 100%;
	height: 77px;
  margin-top: 15px;
}

.distance-and-direction-setting .simple-table-row{
  height: 40px;
}

.jimu-simple-table .body-section .table-div {
    background-image: url(./images/table_under_line.png) !important;
}

.distance-and-direction-setting {
  margin-left: 0px;
}

.distance-and-direction-setting-h3 {
    color: #596679;
}

.distance-and-direction-setting-style table {
    color: #333333;
    width: 100%;
    border-collapse: collapse;
}

.distance-and-direction-setting-style th {
    background-color: #518dca;
    padding: 8px;
    text-align: left;
    color: #ffffff;
}

.distance-and-direction-setting-style tr {
    background-color: #ffffff;
}

.distance-and-direction-setting-style td {
    padding: 8px;
}

.settings-section tr {
    vertical-align: top;
}

.distance-and-direction-setting-line-size {
    width: 70px;
}

.distance-and-direction-setting-color-picker {
    width: 70px;
}

.distance-and-direction-setting-interval-width {
    border-color: #000;
    border-style: hidden solid solid solid;
    border-width: 1px;
    height: 10px;
    margin: auto;
}

.distance-and-direction-setting-style-map {
    width: 500px;
    height: 550px;
    float: left;
}